// basic definitions
$white: #fff;
$grey01: #eaded6;
$grey02: #bab1aa;
$grey03: #77716e;
$grey04: #423f3e;
$black: #020202;
$green01: #c0f2e9;
$green02: #40d6ba;
$green03: #00a384;
$green04: #005646;
$brown01: #dfbd99;
$brown02: #d68d40;
$brown03: #b05a00;
$brown04: #633300;
$symbolred: #ff4d29;
$symbolyellow: #f5ab2b;
$symbolgreen: #add61e;
