@use "colors";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Segoe UI", sans-serif;
    background: colors.$white;
    margin: 20px;
}

h1 {
    font-family: "Segoe Marker", sans-serif;
    font-size: 2.25em;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-family: "Segoe Marker", sans-serif;
    font-size: 1.75em;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-family: "Segoe Marker", sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    margin: 0;
}

p {
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/*FG Colors*/
.fg_white {
    color: colors.$white;
}

.fg_black {
    color: colors.$black;
}

.fg_grey02 {
    color: colors.$grey02;
}

.fg_green04 {
    color: colors.$green04;
}

/*BG Colors*/

.bg_white {
    background-color: colors.$white;
}

.bg_black {
    background-color: colors.$black;
}

.bg_green01 {
    background-color: colors.$green01;
}

.bg_green02 {
    background-color: colors.$green02;
}

.bg_green03 {
    background-color: colors.$green03;
}

.bg_green04 {
    background-color: colors.$green04;
}

.bg_grey01 {
    background-color: colors.$grey01;
}

.bg_grey02 {
    background-color: colors.$grey02;
}

.bg_grey03 {
    background-color: colors.$grey03;
}

.bg_grey04 {
    background-color: colors.$grey04;
}

.bg_brown01 {
    background-color: colors.$brown01;
}

.bg_brown02 {
    background-color: colors.$brown02;
}

.bg_brown03 {
    background-color: colors.$brown03;
}

.bg_brown04 {
    background-color: colors.$brown04;
}

.bg_symbolred {
    background-color: colors.$symbolred;
}

.bg_symbolyellow {
    background-color: colors.$symbolyellow;
}

.bg_symbolgreen {
    background-color: colors.$symbolgreen;
}

.container_popup {
    background-color: colors.$white;
    border: 2px solid colors.$brown03;
    border-radius: 8px;
    color: colors.$black;
    padding: 0px 8px 0px 8px;
    width: fit-content;
    vertical-align: top;
}

.icon_icon-button {
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    display: block;
}

.icon_icon-button_horizontal {
    height: 30px;
    width: 30px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
}

.text_icon-button_horizontal {
    float: left;
    margin: 5px 0 4px 0;
}

.icon-button {
    margin: 0;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: transparent;
    font-size: 1em;
    font-family: "Segoe UI";
    &:hover .b {
        fill: colors.$brown03;
    }
    &:active .b {
        fill: colors.$brown03;
    }
    &:focus {
        outline: 2px dotted colors.$green04;
        outline-offset: -2px;
    }

    &:disabled {
        color: colors.$grey02;
        .b {
            fill: colors.$grey02;
        }
    }
}

.icontext-button,
.text-button {
    background-color: colors.$white;
    border: 2px solid colors.$green02;
    border-radius: 8px;
    color: colors.$black;
    padding: 5px 8px 6px 8px;
    width: fit-content;
    font-size: 1.125em;
    font-family: "Segoe Marker";
    vertical-align: top;
    &:hover {
        border: 2px solid colors.$brown03;
    }
    &:active {
        border: 2px solid colors.$brown04;
    }
    &:focus {
        outline: 2px dotted colors.$white;
        outline-offset: -2px;
    }
    &:disabled {
        border: 2px solid colors.$grey02;
        color: colors.$grey02;
        .b {
            fill: colors.$grey02;
        }
    }
}

.icontext-button {
    padding: 1px 8px 1px 8px;
}

.expand_button {
    height: 24px;
    width: 24px;
    margin: 0;
    background-color: transparent;
    background-image: url(assets/svg/icon_neuereintrag.svg);
    border: 0;
    &:active {
        background-image: url(assets/svg/icon_minus.svg);
    }
    &:focus {
        outline: 2px dotted colors.$green04;
        outline-offset: -2px;
    }
}

@mixin vorwaerts_button {
    height: 30px;
    width: 30px;
    margin: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
    float: right;
    background-image: url(assets/svg/icon_vorwaerts.svg);
    
    &:hover .b {
        fill: colors.$brown03;
    }
    &:active .b {
        fill: colors.$brown03;
    }
    &:focus {
        outline: 2px dotted colors.$green04;
        outline-offset: -2px;
    }
    &:disabled {
        .b {
            fill: colors.$grey02;
        }
    }
}

@mixin zurueck_button {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    float: left;
    background-image: url(assets/svg/icon_zurueck.svg);
    background-color: transparent;
    border: 0;
    &:hover .b {
        fill: colors.$brown03;
    }
    &:active .b {
        fill: colors.$brown03;
    }
    &:focus {
        outline: 2px dotted colors.$green04;
        outline-offset: -2px;
    }
    &:disabled {
        .b {
            fill: colors.$grey02;
        }
    }
}

.datum_historie {
    float: left;
}

/*InputFields*/

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: colors.$white;
    border: 2px solid colors.$green02;
    border-radius: 5px;
    color: colors.$black;
    padding: 5px 8px 6px 8px;
    width: fit-content;
    font-size: 1em;
    font-family: "Segoe UI";
    &:hover {
        border: 2px solid colors.$green03;
    }
    &:active {
        border: 2px solid colors.$green04;
    }
    &:focus {
        outline: 2px dotted colors.$white;
        outline-offset: -2px;
    }
    &:disabled {
        border: 2px solid colors.$grey02;
        color: colors.$grey02;
    }
}

.togglebutton input {
    opacity: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    &:checked + .icontext-button {
        border: 2px solid colors.$green04;
        .b {
            fill: colors.$green02;
        }
    }
    &:disabled + .icontext-button {
        border: 2px solid colors.$grey02;
        color: colors.$grey02;
        .b {
            fill: colors.$grey02;
        }
    }
    &:focus + .icontext-button {
        outline: 2px dotted colors.$white;
        outline-offset: -2px;
    }
}

.toggle-icon-button {
    height: 30px;
    border: 2px solid colors.$brown02;
    .b {
        fill: colors.$brown03;
    }
    &:hover {
        border: 2px solid colors.$green02;
        .b {
            fill: colors.$green02;
        }
    }
    &:active {
        border: 2px solid colors.$green04;
    }
}

label {
    padding: 0px 5px 0px 0px;
}

/*ComboBox*/
select {
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    padding: 5px 36px 6px 8px;
    width: fit-content;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid colors.$green02;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url(assets/svg/icon_pfeil_runter_combobox.svg);
    background-repeat: no-repeat;

    /* arrow icon position (1em from the right, 50% vertical)*/
    background-position: right 8px top 50%;

    /* icon size*/
    background-size: 1em auto;

    /* Hide arrow icon in IE browsers */
    &::-ms-expand {
        display: none;
    }
    &:hover {
        border-color: colors.$green03;
    }
    &:focus {
        outline: 2px dotted colors.$white;
        outline-offset: -2px;
    }
    &:disabled {
        border: 2px solid colors.$grey02;
        color: colors.$grey02;
    }
}

input[type="date"] {
    border: 0px solid colors.$white;
    &::-webkit-datetime-edit {
        font-size: 1.1em;
        font-family: "Segoe UI", sans-serif;
        padding: 5px 8px 5px 8px;
        border: 2px solid colors.$green02;
        border-radius: 5px;
    }
    &:hover {
        &::-webkit-datetime-edit {
            border-color: colors.$green03;
        }
    }
    &:active {
        &::-webkit-datetime-edit {
            border-color: colors.$green04;
        }
    }
    &::-webkit-datetime-edit-month-field {
        &:focus {
            background-color: colors.$green01;
        }
    }
    &::-webkit-datetime-edit-day-field {
        &:focus {
            background-color: colors.$green01;
        }
    }
    &::-webkit-datetime-edit-year-field {
        &:focus {
            background-color: colors.$green01;
        }
    }

    &:focus {
        outline: 2px dotted colors.$green04;
        outline-offset: -2px;
    }

    &:disabled {
        background-color: transparent;
        background-image: url(assets/svg/icon_kalender-monatsansicht.svg);
        background-size: 2em auto;
        background-position: right center;
        background-repeat: no-repeat;
        &::-webkit-datetime-edit-text {
            color: colors.$grey02;
            padding: 0 0.3em;
        }
        &::-webkit-datetime-edit-month-field {
            color: colors.$grey02;
        }
        &::-webkit-datetime-edit-day-field {
            color: colors.$grey02;
        }
        &::-webkit-datetime-edit-year-field {
            color: colors.$grey02;
        }
        &::-webkit-datetime-edit {
            border-color: colors.$grey02;
        }
    }

    &::-webkit-datetime-edit-fields-wrapper {
        background: colors.$white;
    }
    &::-webkit-datetime-edit-text {
        color: colors.$black;
        padding: 0 0.3em;
    }
    &::-webkit-datetime-edit-month-field {
        color: colors.$black;
    }
    &::-webkit-datetime-edit-day-field {
        color: colors.$black;
    }
    &::-webkit-datetime-edit-year-field {
        color: colors.$black;
    }
    &::-webkit-inner-spin-button {
        display: none;
    }
    &::-webkit-calendar-picker-indicator {
        margin: 0 0 0 5px;
        height: 2em;
        width: 2em;
        background-image: url(assets/svg/icon_kalender-monatsansicht.svg);
        background-size: 2em auto;
        background-repeat: no-repeat;
    }
}

/*Stepper*/
.stepper {
    width: fit-content;
    border: 2px solid colors.$green02;
    border-radius: 5px;
    display: flex;
    height: 32px;
    input {
        border: 0px solid colors.$white;
        margin-right: 4px;
        width: 100px;
        &:hover {
            border: 0px solid colors.$white;
        }
        &:disabled {
            border: 0px solid colors.$white;
            color: colors.$white;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        button {
            border-color: transparent;
            background-color: transparent;
            flex: 1;
            &:focus {
                outline: 2px dotted colors.$green04;
                outline-offset: -2px;
            }
            &:disabled {
                .a {
                    fill: colors.$grey02;
                }
            }
        }
    }
    &:focus-within {
        outline: 2px dotted colors.$green04;
        outline-offset: -2px;
    }
    &:hover {
        border-color: colors.$green03;
    }
    &:active {
        border-color: colors.$green04;
    }
    &.disabled {
        border-color: colors.$grey02;
    }
}

.stepper-pfeile {
    height: Auto;
    width: 17px;
    margin-left: 0;
    margin-right: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

::selection {
    background: colors.$green01;
}

::-moz-selection {
    background: colors.$green01;
}

/*Slider*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 36px;
    background: grey;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        background: colors.$green02;
        border: 1px solid colors.$black;
        cursor: pointer;
    }
    &::-moz-range-thumb {
        width: 14px;
        height: 14px;
        border: 1px solid colors.$black;
        border-radius: 100%;
        background: colors.$green02;
        cursor: pointer;
    }
    &:hover {
        &::-webkit-slider-thumb {
            background: colors.$brown03;
        }
        &::-moz-range-thumb {
            background: colors.$brown03;
        }
    }
}

/*Table*/

.table_style {
    font-family: "Segoe UI", sans-serif;
    border-collapse: collapse;
    th {
        border-right: 1px solid colors.$brown03;
        font-weight: normal;
        padding: 7px 10px 8px 10px;
        text-align: left;
        background-color: colors.$brown01;
        color: colors.$black;
    }
    td {
        padding: 7px 10px 7px 10px;
        border-right: 1px solid colors.$brown03;
    }
    tr {
        &:nth-child(even) {
            background-color: colors.$grey01;
        }
        &:hover {
            outline: 2px solid colors.$brown03;
            outline-offset: -2px;
        }
        &:focus {
            outline: 2px dotted colors.$brown04;
            outline-offset: -2px;
        }
    }
    &.disabled {
        th {
            border-right: 1px solid colors.$white;
            background-color: colors.$grey03;
            color: colors.$white;
        }
        td {
            border-right: 1px solid colors.$grey03;
        }
        tr {
            color: colors.$grey03;
            &:nth-child(even) {
                background-color: colors.$grey02;
            }
            &:hover {
                outline: 0px;
            }
            &:focus {
                outline: 0px;
            }
        }
    }
}

/*Marker*/

.marker_medizin_genommen {
    height: 24px;
    width: 24px;
    background-image: url(assets/svg/icon_alles_genommen.svg);
}

.marker_medizin_teilweise_genommen {
    height: 24px;
    width: 24px;
    background-image: url(assets/svg/icon_teilweise_genommen.svg);
}

.marker_medizin_nicht_genommen {
    height: 24px;
    width: 24px;
    background-image: url(assets/svg/icon_nichts_genommen.svg);
}

.marker_stimmung_gut {
    height: 24px;
    width: 24px;
    background-image: url(assets/svg/icon_stimmung_gut.svg);
}

.marker_stimmung_mittel {
    height: 24px;
    width: 24px;
    background-image: url(assets/svg/icon_stimmung_mittel.svg);
}

.marker_stimmung_schlecht {
    height: 24px;
    width: 24px;
    background-image: url(assets/svg/icon_stimmung_schlecht.svg);
}

.marker_diagnose {
    height: 20px;
    width: 20px;
    background-image: url(assets/svg/icon_marker_gruen.svg);
}

.marker_schuebe_mittel {
    height: 20px;
    width: 20px;
    background-image: url(assets/svg/icon_marker_orange.svg);
}

.marker_schuebe_schlecht {
    height: 20px;
    width: 20px;
    background-image: url(assets/svg/icon_marker_rot.svg);
}

.marker_dokument {
    height: 30px;
    width: 30px;
    background-image: url(assets/svg/icon_dokument.svg);
}

/*Icons*/
.icon_history {
    height: 46px;
    width: 46px;
    background-image: url(assets/svg/icon_krankengeschichte.svg);
    margin-right: 10px;
    float: left;
}
