<ng-template #rowTemplate let-data="data">

    <lib-grid-icon-row *ngIf="data.entries && data.type == 'icon'" [columnWidth]="data.columnWidth"
        [numberOfDays]="data.numberOfDays" [entries]="data.entries" [useCompactLayout]="data.useCompactLayout"
        [firstLineInCompactLayoutOffset]="data.firstLineInCompactLayoutOffset">
    </lib-grid-icon-row>

    <lib-grid-document-row *ngIf="data.entries && data.type == 'document'" [columnWidth]="data.columnWidth"
        [numberOfDays]="data.numberOfDays" [entries]="data.entries" [useCompactLayout]="data.useCompactLayout"
        [firstLineInCompactLayoutOffset]="data.firstLineInCompactLayoutOffset">
    </lib-grid-document-row>

    <lib-grid-continuous-icon-row *ngIf="!data.entries || data.type == 'continuousIcon'" [columnWidth]="data.columnWidth"
        [numberOfDays]="data.numberOfDays" [entries]="data.entries" [useCompactLayout]="data.useCompactLayout"
        [firstLineInCompactLayoutOffset]="data.firstLineInCompactLayoutOffset" [minValue]="1" [maxValue]="9">
    </lib-grid-continuous-icon-row>

    <lib-grid-simple-row *ngIf="!data.entries || data.type == ''" [columnWidth]="data.columnWidth"
        [numberOfDays]="data.numberOfDays" [useCompactLayout]="data.useCompactLayout"
        [firstLineInCompactLayoutOffset]="data.firstLineInCompactLayoutOffset">
    </lib-grid-simple-row>

    <lib-grid-icon-longtext-row *ngIf="data.entries && data.type == 'longtextIcon'" [columnWidth]="data.columnWidth"
        [numberOfDays]="data.numberOfDays" [entries]="data.entries" [useCompactLayout]="data.useCompactLayout"
        [firstLineInCompactLayoutOffset]="data.firstLineInCompactLayoutOffset">
    </lib-grid-icon-longtext-row>

    <div *ngIf="data.entries && data.type == 'Lib Unknown Test'" style="display:inline-block;">
        Dieser Row-Type ist der Bibliothek nicht bekannt.
    </div>

</ng-template>

<calendar (requestPreviousMonth)="requestPreviousMonth()" (requestNextMonth)="requestNextMonth()" [year]="year"
    [month]="month" [groups]="groups" [entries]="entries" [rowTemplate]="rowTemplate"></calendar>